# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), January 18, 2019**

In [1]:
using DataFrames, Random # load packages
Random.seed!(1);

## Манипулирование строками DataFrame

### Выбор строк

In [2]:
df = DataFrame(rand(4, 5))

4×5 DataFrame
│ Row │ x1         │ x2       │ x3       │ x4       │ x5        │
│     │ Float64    │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.236033   │ 0.488613 │ 0.251662 │ 0.424718 │ 0.251379  │
│ 2   │ 0.346517   │ 0.210968 │ 0.986666 │ 0.773223 │ 0.0203749 │
│ 3   │ 0.312707   │ 0.951916 │ 0.555751 │ 0.28119  │ 0.287702  │
│ 4   │ 0.00790928 │ 0.999905 │ 0.437108 │ 0.209472 │ 0.859512  │

In [3]:
df[:, :] # копия всех столбцов

4×5 DataFrame
│ Row │ x1         │ x2       │ x3       │ x4       │ x5        │
│     │ Float64    │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.236033   │ 0.488613 │ 0.251662 │ 0.424718 │ 0.251379  │
│ 2   │ 0.346517   │ 0.210968 │ 0.986666 │ 0.773223 │ 0.0203749 │
│ 3   │ 0.312707   │ 0.951916 │ 0.555751 │ 0.28119  │ 0.287702  │
│ 4   │ 0.00790928 │ 0.999905 │ 0.437108 │ 0.209472 │ 0.859512  │

In [4]:
sdf = view(df, 1:3, 1:3) # SubDataFrame

3×3 SubDataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.236033 │ 0.488613 │ 0.251662 │
│ 2   │ 0.346517 │ 0.210968 │ 0.986666 │
│ 3   │ 0.312707 │ 0.951916 │ 0.555751 │

In [5]:
parent(sdf), parentindices(sdf) # у вас еще есть подробная ссылка на родителя

(4×5 DataFrame
│ Row │ x1         │ x2       │ x3       │ x4       │ x5        │
│     │ Float64    │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.236033   │ 0.488613 │ 0.251662 │ 0.424718 │ 0.251379  │
│ 2   │ 0.346517   │ 0.210968 │ 0.986666 │ 0.773223 │ 0.0203749 │
│ 3   │ 0.312707   │ 0.951916 │ 0.555751 │ 0.28119  │ 0.287702  │
│ 4   │ 0.00790928 │ 0.999905 │ 0.437108 │ 0.209472 │ 0.859512  │, (1:3, 1:3))

In [6]:
dfr = df[3, :] # так же для SubDataFrame

DataFrameRow
│ Row │ x1       │ x2       │ x3       │ x4      │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64 │ Float64  │
├─────┼──────────┼──────────┼──────────┼─────────┼──────────┤
│ 3   │ 0.312707 │ 0.951916 │ 0.555751 │ 0.28119 │ 0.287702 │

In [7]:
parent(dfr), parentindices(dfr)

(4×5 DataFrame
│ Row │ x1         │ x2       │ x3       │ x4       │ x5        │
│     │ Float64    │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.236033   │ 0.488613 │ 0.251662 │ 0.424718 │ 0.251379  │
│ 2   │ 0.346517   │ 0.210968 │ 0.986666 │ 0.773223 │ 0.0203749 │
│ 3   │ 0.312707   │ 0.951916 │ 0.555751 │ 0.28119  │ 0.287702  │
│ 4   │ 0.00790928 │ 0.999905 │ 0.437108 │ 0.209472 │ 0.859512  │, (3, Base.OneTo(5)))

In [8]:
df.Z = 1

1

In [9]:
df

4×6 DataFrame
│ Row │ x1         │ x2       │ x3       │ x4       │ x5        │ Z     │
│     │ Float64    │ Float64  │ Float64  │ Float64  │ Float64   │ Int64 │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┼───────┤
│ 1   │ 0.236033   │ 0.488613 │ 0.251662 │ 0.424718 │ 0.251379  │ 1     │
│ 2   │ 0.346517   │ 0.210968 │ 0.986666 │ 0.773223 │ 0.0203749 │ 1     │
│ 3   │ 0.312707   │ 0.951916 │ 0.555751 │ 0.28119  │ 0.287702  │ 1     │
│ 4   │ 0.00790928 │ 0.999905 │ 0.437108 │ 0.209472 │ 0.859512  │ 1     │

In [10]:
# при использовании ":" для выбора столбца представления(SubDataFrame и DataFrameRow) будет иметь все столбцы родителя
dfr

DataFrameRow
│ Row │ x1       │ x2       │ x3       │ x4      │ x5       │ Z     │
│     │ Float64  │ Float64  │ Float64  │ Float64 │ Float64  │ Int64 │
├─────┼──────────┼──────────┼──────────┼─────────┼──────────┼───────┤
│ 3   │ 0.312707 │ 0.951916 │ 0.555751 │ 0.28119 │ 0.287702 │ 1     │

In [11]:
parent(dfr), parentindices(dfr)

(4×6 DataFrame
│ Row │ x1         │ x2       │ x3       │ x4       │ x5        │ Z     │
│     │ Float64    │ Float64  │ Float64  │ Float64  │ Float64   │ Int64 │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┼───────┤
│ 1   │ 0.236033   │ 0.488613 │ 0.251662 │ 0.424718 │ 0.251379  │ 1     │
│ 2   │ 0.346517   │ 0.210968 │ 0.986666 │ 0.773223 │ 0.0203749 │ 1     │
│ 3   │ 0.312707   │ 0.951916 │ 0.555751 │ 0.28119  │ 0.287702  │ 1     │
│ 4   │ 0.00790928 │ 0.999905 │ 0.437108 │ 0.209472 │ 0.859512  │ 1     │, (3, Base.OneTo(6)))

### Изменение порядка строк

In [12]:
x = DataFrame(id=1:10, x = rand(10), y = [zeros(5); ones(5)]) # and we hope that x[:x] is not sorted :)

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 1     │ 0.0769509 │ 0.0     │
│ 2   │ 2     │ 0.640396  │ 0.0     │
│ 3   │ 3     │ 0.873544  │ 0.0     │
│ 4   │ 4     │ 0.278582  │ 0.0     │
│ 5   │ 5     │ 0.751313  │ 0.0     │
│ 6   │ 6     │ 0.644883  │ 1.0     │
│ 7   │ 7     │ 0.0778264 │ 1.0     │
│ 8   │ 8     │ 0.848185  │ 1.0     │
│ 9   │ 9     │ 0.0856352 │ 1.0     │
│ 10  │ 10    │ 0.553206  │ 1.0     │

In [13]:
issorted(x), issorted(x, :x) # проверить, отсортирован ли DataFrame или подмножество его столбцов

(true, false)

In [14]:
sort!(x, :x) # сортировать х на месте

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 1     │ 0.0769509 │ 0.0     │
│ 2   │ 7     │ 0.0778264 │ 1.0     │
│ 3   │ 9     │ 0.0856352 │ 1.0     │
│ 4   │ 4     │ 0.278582  │ 0.0     │
│ 5   │ 10    │ 0.553206  │ 1.0     │
│ 6   │ 2     │ 0.640396  │ 0.0     │
│ 7   │ 6     │ 0.644883  │ 1.0     │
│ 8   │ 5     │ 0.751313  │ 0.0     │
│ 9   │ 8     │ 0.848185  │ 1.0     │
│ 10  │ 3     │ 0.873544  │ 0.0     │

In [15]:
y = sort(x, :id) # новый DataFrame

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 1     │ 0.0769509 │ 0.0     │
│ 2   │ 2     │ 0.640396  │ 0.0     │
│ 3   │ 3     │ 0.873544  │ 0.0     │
│ 4   │ 4     │ 0.278582  │ 0.0     │
│ 5   │ 5     │ 0.751313  │ 0.0     │
│ 6   │ 6     │ 0.644883  │ 1.0     │
│ 7   │ 7     │ 0.0778264 │ 1.0     │
│ 8   │ 8     │ 0.848185  │ 1.0     │
│ 9   │ 9     │ 0.0856352 │ 1.0     │
│ 10  │ 10    │ 0.553206  │ 1.0     │

In [16]:
sort(x, (:y, :x), rev=(true, false)) # сортировать по двум столбцам, первый уменьшается, второй увеличивается

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 7     │ 0.0778264 │ 1.0     │
│ 2   │ 9     │ 0.0856352 │ 1.0     │
│ 3   │ 10    │ 0.553206  │ 1.0     │
│ 4   │ 6     │ 0.644883  │ 1.0     │
│ 5   │ 8     │ 0.848185  │ 1.0     │
│ 6   │ 1     │ 0.0769509 │ 0.0     │
│ 7   │ 4     │ 0.278582  │ 0.0     │
│ 8   │ 2     │ 0.640396  │ 0.0     │
│ 9   │ 5     │ 0.751313  │ 0.0     │
│ 10  │ 3     │ 0.873544  │ 0.0     │

In [17]:
sort(x, (order(:y, rev=true), :x)) # так же, как и выше

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 7     │ 0.0778264 │ 1.0     │
│ 2   │ 9     │ 0.0856352 │ 1.0     │
│ 3   │ 10    │ 0.553206  │ 1.0     │
│ 4   │ 6     │ 0.644883  │ 1.0     │
│ 5   │ 8     │ 0.848185  │ 1.0     │
│ 6   │ 1     │ 0.0769509 │ 0.0     │
│ 7   │ 4     │ 0.278582  │ 0.0     │
│ 8   │ 2     │ 0.640396  │ 0.0     │
│ 9   │ 5     │ 0.751313  │ 0.0     │
│ 10  │ 3     │ 0.873544  │ 0.0     │

In [18]:
sort(x, (order(:y, rev=true), order(:x, by=v->-v))) # еще кое-что необычное

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 8     │ 0.848185  │ 1.0     │
│ 2   │ 6     │ 0.644883  │ 1.0     │
│ 3   │ 10    │ 0.553206  │ 1.0     │
│ 4   │ 9     │ 0.0856352 │ 1.0     │
│ 5   │ 7     │ 0.0778264 │ 1.0     │
│ 6   │ 3     │ 0.873544  │ 0.0     │
│ 7   │ 5     │ 0.751313  │ 0.0     │
│ 8   │ 2     │ 0.640396  │ 0.0     │
│ 9   │ 4     │ 0.278582  │ 0.0     │
│ 10  │ 1     │ 0.0769509 │ 0.0     │

In [19]:
x[shuffle(1:10), :] # изменить порядок строк (здесь случайным образом)

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 4     │ 0.278582  │ 0.0     │
│ 2   │ 3     │ 0.873544  │ 0.0     │
│ 3   │ 8     │ 0.848185  │ 1.0     │
│ 4   │ 5     │ 0.751313  │ 0.0     │
│ 5   │ 1     │ 0.0769509 │ 0.0     │
│ 6   │ 6     │ 0.644883  │ 1.0     │
│ 7   │ 7     │ 0.0778264 │ 1.0     │
│ 8   │ 10    │ 0.553206  │ 1.0     │
│ 9   │ 9     │ 0.0856352 │ 1.0     │
│ 10  │ 2     │ 0.640396  │ 0.0     │

In [20]:
sort!(x, :id)
x[[1,10],:] = x[[10,1],:] # поменять строки
x

10×3 DataFrame
│ Row │ id    │ x         │ y       │
│     │ Int64 │ Float64   │ Float64 │
├─────┼───────┼───────────┼─────────┤
│ 1   │ 10    │ 0.553206  │ 1.0     │
│ 2   │ 2     │ 0.640396  │ 0.0     │
│ 3   │ 3     │ 0.873544  │ 0.0     │
│ 4   │ 4     │ 0.278582  │ 0.0     │
│ 5   │ 5     │ 0.751313  │ 0.0     │
│ 6   │ 6     │ 0.644883  │ 1.0     │
│ 7   │ 7     │ 0.0778264 │ 1.0     │
│ 8   │ 8     │ 0.848185  │ 1.0     │
│ 9   │ 9     │ 0.0856352 │ 1.0     │
│ 10  │ 1     │ 0.0769509 │ 0.0     │

In [21]:
# x[1,:], x[10,:] = x[10,:], x[1,:] # это в настоящее время невозможно, но будет разрешено в будущем
# x

### Слияние / добавление строк

In [22]:
x = DataFrame(rand(3, 5))

3×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │

In [23]:
[x; x] # объединить по строкам - фреймы данных должны иметь одинаковые имена столбцов; то же самое vcat

6×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │

In [24]:
reduce(vcat, [x, x, x]) # Вы можете эффективно объединить вектор DataFrames, используя сокращение

9×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 7   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 8   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 9   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │

In [25]:
y = x[reverse(names(x))] # получить y с другим порядком имен

3×5 DataFrame
│ Row │ x5       │ x4       │ x3        │ x2        │ x1       │
│     │ Float64  │ Float64  │ Float64   │ Float64   │ Float64  │
├─────┼──────────┼──────────┼───────────┼───────────┼──────────┤
│ 1   │ 0.548635 │ 0.596537 │ 0.0135403 │ 0.953803  │ 0.440897 │
│ 2   │ 0.262992 │ 0.638935 │ 0.303399  │ 0.0951856 │ 0.404673 │
│ 3   │ 0.526443 │ 0.872347 │ 0.702557  │ 0.519675  │ 0.736787 │

In [26]:
vcat(x, y) # мы получаем то, что хотим, так как vcat выполняет сопоставление имен столбцов

6×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │

In [27]:
vcat(x, y[1:3]) # но имена столбцов должны совпадать

ArgumentError: ArgumentError: column(s) x1 and x2 are missing from argument(s) 2

In [28]:
append!(x, x) # то же самое, но изменяет х

6×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │

In [29]:
append!(x, y) # здесь имена столбцов должны точно совпадать

ErrorException: Column names do not match

In [30]:
repeat(x, 2) # стандартная функция повтора работает на строках; также принимаются внутренние и внешние ключевые аргументы

12×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 7   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 8   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 9   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 10  │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 11  │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 12  │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │

In [31]:
push!(x, 1:5) # добавить одну строку к х в конце; должен дать правильное количество значений и правильных типов
x

7×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 7   │ 1.0      │ 2.0       │ 3.0       │ 4.0      │ 5.0      │

In [32]:
push!(x, Dict(:x1=> 11, :x2=> 12, :x3=> 13, :x4=> 14, :x5=> 15)) # также работает со словарями
x

8×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 7   │ 1.0      │ 2.0       │ 3.0       │ 4.0      │ 5.0      │
│ 8   │ 11.0     │ 12.0      │ 13.0      │ 14.0     │ 15.0     │

In [33]:
push!(x, (x2=2, x1=1, x4=4, x3=3, x5=5)) # и NamedTuples через сопоставление имен

9×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 7   │ 1.0      │ 2.0       │ 3.0       │ 4.0      │ 5.0      │
│ 8   │ 11.0     │ 12.0      │ 13.0      │ 14.0     │ 15.0     │
│ 9   │ 1.0      │ 2.0       │ 3.0       │ 4.0      │ 5.0      │

In [34]:
push!(x, x[1, :]) # и DataFrameRow также через сопоставление имен

10×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64   │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 2   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 3   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 4   │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │
│ 5   │ 0.404673 │ 0.0951856 │ 0.303399  │ 0.638935 │ 0.262992 │
│ 6   │ 0.736787 │ 0.519675  │ 0.702557  │ 0.872347 │ 0.526443 │
│ 7   │ 1.0      │ 2.0       │ 3.0       │ 4.0      │ 5.0      │
│ 8   │ 11.0     │ 12.0      │ 13.0      │ 14.0     │ 15.0     │
│ 9   │ 1.0      │ 2.0       │ 3.0       │ 4.0      │ 5.0      │
│ 10  │ 0.440897 │ 0.953803  │ 0.0135403 │ 0.596537 │ 0.548635 │

### Subsetting/removing rows

In [35]:
x = DataFrame(id=1:10, val='a':'j')

10×2 DataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │
│ 3   │ 3     │ 'c'  │
│ 4   │ 4     │ 'd'  │
│ 5   │ 5     │ 'e'  │
│ 6   │ 6     │ 'f'  │
│ 7   │ 7     │ 'g'  │
│ 8   │ 8     │ 'h'  │
│ 9   │ 9     │ 'i'  │
│ 10  │ 10    │ 'j'  │

In [36]:
x[1:2, :] # по индексу

2×2 DataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │

In [37]:
x[1, :] # выделение одной строки создает DataFrameRow

DataFrameRow
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │

In [38]:
x[1:1, :] # но это датафрейм

1×2 DataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │

In [39]:
view(x, 1:2, :) # то же самое, но `view`

2×2 SubDataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │

In [40]:
view(x, 1:2) # выбрать столбцы 1 и 2

10×2 SubDataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │
│ 3   │ 3     │ 'c'  │
│ 4   │ 4     │ 'd'  │
│ 5   │ 5     │ 'e'  │
│ 6   │ 6     │ 'f'  │
│ 7   │ 7     │ 'g'  │
│ 8   │ 8     │ 'h'  │
│ 9   │ 9     │ 'i'  │
│ 10  │ 10    │ 'j'  │

In [41]:
x[repeat([true, false], 5), :] # по Bool, точная длина требуется

5×2 DataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 3     │ 'c'  │
│ 3   │ 5     │ 'e'  │
│ 4   │ 7     │ 'g'  │
│ 5   │ 9     │ 'i'  │

In [42]:
view(x, repeat([true, false], 5), :) # снова view

5×2 SubDataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 3     │ 'c'  │
│ 3   │ 5     │ 'e'  │
│ 4   │ 7     │ 'g'  │
│ 5   │ 9     │ 'i'  │

In [43]:
deleterows!(x, 7) # удалить одну строку

9×2 DataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │
│ 3   │ 3     │ 'c'  │
│ 4   │ 4     │ 'd'  │
│ 5   │ 5     │ 'e'  │
│ 6   │ 6     │ 'f'  │
│ 7   │ 8     │ 'h'  │
│ 8   │ 9     │ 'i'  │
│ 9   │ 10    │ 'j'  │

In [44]:
deleterows!(x, 6:7) # удалить коллекцию строк

7×2 DataFrame
│ Row │ id    │ val  │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │
│ 3   │ 3     │ 'c'  │
│ 4   │ 4     │ 'd'  │
│ 5   │ 5     │ 'e'  │
│ 6   │ 9     │ 'i'  │
│ 7   │ 10    │ 'j'  │

In [45]:
x = DataFrame([1:4, 2:5, 3:6])

4×3 DataFrame
│ Row │ x1    │ x2    │ x3    │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │
│ 2   │ 2     │ 3     │ 4     │
│ 3   │ 3     │ 4     │ 5     │
│ 4   │ 4     │ 5     │ 6     │

In [46]:
filter(r -> r.x1 > 2.5, x) # создайте новый DataFrame, где функция фильтрации работает с DataFrameRow

2×3 DataFrame
│ Row │ x1    │ x2    │ x3    │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 3     │ 4     │ 5     │
│ 2   │ 4     │ 5     │ 6     │

In [47]:
# модификация на месте для x, пример с синтаксисом do-block
filter!(x) do r
    if r.x1 > 2.5
        return r.x2 < 4.5
    end
    r.x3 < 3.5
end

2×3 DataFrame
│ Row │ x1    │ x2    │ x3    │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │
│ 2   │ 3     │ 4     │ 5     │

### Дедупликация

In [48]:
x = DataFrame(A=[1,2], B=["x","y"])
append!(x, x)
x.C = 1:4
x

4×3 DataFrame
│ Row │ A     │ B      │ C     │
│     │ Int64 │ String │ Int64 │
├─────┼───────┼────────┼───────┤
│ 1   │ 1     │ x      │ 1     │
│ 2   │ 2     │ y      │ 2     │
│ 3   │ 1     │ x      │ 3     │
│ 4   │ 2     │ y      │ 4     │

In [49]:
unique(x, [1,2]) # получить первые уникальные строки для данного индекса

2×3 DataFrame
│ Row │ A     │ B      │ C     │
│     │ Int64 │ String │ Int64 │
├─────┼───────┼────────┼───────┤
│ 1   │ 1     │ x      │ 1     │
│ 2   │ 2     │ y      │ 2     │

In [50]:
unique(x) # теперь мы смотрим на строки целых

4×3 DataFrame
│ Row │ A     │ B      │ C     │
│     │ Int64 │ String │ Int64 │
├─────┼───────┼────────┼───────┤
│ 1   │ 1     │ x      │ 1     │
│ 2   │ 2     │ y      │ 2     │
│ 3   │ 1     │ x      │ 3     │
│ 4   │ 2     │ y      │ 4     │

In [51]:
nonunique(x, :A) # получить показатели неуникальных строк

4-element Array{Bool,1}:
 false
 false
  true
  true

In [52]:
unique!(x, :B) # изменить х на месте

2×3 DataFrame
│ Row │ A     │ B      │ C     │
│     │ Int64 │ String │ Int64 │
├─────┼───────┼────────┼───────┤
│ 1   │ 1     │ x      │ 1     │
│ 2   │ 2     │ y      │ 2     │

### Извлечение одной строки из DataFrame в стандартные коллекции

In [53]:
x = DataFrame(x=[1,missing,2], y=["a", "b", missing], z=[true,false,true])

3×3 DataFrame
│ Row │ x       │ y       │ z     │
│     │ Int64⍰  │ String⍰ │ Bool  │
├─────┼─────────┼─────────┼───────┤
│ 1   │ 1       │ a       │ true  │
│ 2   │ missing │ b       │ false │
│ 3   │ 2       │ missing │ true  │

In [54]:
cols = [:y, :z]

2-element Array{Symbol,1}:
 :y
 :z

In [55]:
Vector(x[1, cols]) # также вы можете использовать преобразование в вектор

2-element Array{Any,1}:
     "a"
 true

In [56]:
[Vector(x[i, cols]) for i in axes(x, 1)] # вектор векторович

3-element Array{Array{Any,1},1}:
 ["a", true]
 ["b", false]
 [missing, true]

In [57]:
copy(x[1, cols]) # Именованный кортеж

(y = "a", z = true)

In [58]:
Tuple(x[1, cols]) # кортёж

("a", true)